page-forgot-password {

}


ion-content.contentForgot.content.content-md{
    background:url('../../assets/imgs/background.png') no-repeat;
    background-size: cover;
}

img#forgotPasswordImg{
    width: 15vh;
    opacity: 0.6vh
}

.forgot {
    font-size: 23px;
    color: #f44336;
    margin-top: 8vh;
}

input.inputEmail {
    border-radius: 25px;
    width: 45vh;
    height: 5vh;
    text-align: center;
}

button.btnEnviar.button.button-md.button-default.button-default-md.button-round.button-round-md.button-md-danger
{
    top: 8vh;
    left: 16vh;
}