page-signup {
    margin-bottom: 5vh;

}


img#logoMaisDoador{
    width: 30vh;
}


ion-content#backgroundSignUp {
    background:url('../../assets/imgs/backgroundSignUp.png') no-repeat;
    background-size: cover;
}