<ion-header>

  <ion-navbar color="danger">
    <ion-title>Minha Solicitações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item-sliding *ngIf="showItem[0]">
          <ion-item>
            <h2>Paciente: {{pacienteNome[0]}}</h2>
            <ion-note>
                11h atrás
              </ion-note>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="light" (click)="editar(0)">
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
            <button ion-button color="danger" (click)="excluir(0)"> 
              <ion-icon name="trash"></ion-icon>
              Excluir
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding *ngIf="showItem[1]">
            <ion-item>
              <h2>Paciente: {{pacienteNome[1]}}</h2>
              <ion-note>
                  11h atrás
                </ion-note>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="light" (click)="editar(1)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="excluir(1)"> 
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding *ngIf="showItem[2]">
              <ion-item>
                <h2>Paciente: {{pacienteNome[2]}}</h2>
                <ion-note>
                    11h atrás
                  </ion-note>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="light" (click)="editar(2)">
                  <ion-icon name="create"></ion-icon>
                  Editar
                </button>
                <button ion-button color="danger" (click)="excluir(2)"> 
                  <ion-icon name="trash"></ion-icon>
                  Excluir
                </button>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding *ngIf="showItem[3]">
                <ion-item>
                  <h2>Paciente: {{pacienteNome[3]}}</h2>
                  <ion-note>
                      11h atrás
                    </ion-note>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="light" (click)="editar(3)">
                    <ion-icon name="create"></ion-icon>
                    Editar
                  </button>
                  <button ion-button color="danger" (click)="excluir(3)"> 
                    <ion-icon name="trash"></ion-icon>
                    Excluir
                  </button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding *ngIf="showItem[4]">
                  <ion-item>
                    <h2>Paciente: {{pacienteNome[4]}}</h2>
                    <ion-note>
                        11h atrás
                      </ion-note>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="light" (click)="editar(4)">
                      <ion-icon name="create"></ion-icon>
                      Editar
                    </button>
                    <button ion-button color="danger" (click)="excluir(4)"> 
                      <ion-icon name="trash"></ion-icon>
                      Excluir
                    </button>
                  </ion-item-options>
                </ion-item-sliding>

                <ion-item-sliding *ngIf="showItem[5]">
                    <ion-item>
                      <h2>Paciente: {{pacienteNome[5]}}</h2>
                      <ion-note>
                          11h atrás
                        </ion-note>
                    </ion-item>
                    <ion-item-options side="right">
                      <button ion-button color="light" (click)="editar(5)">
                        <ion-icon name="create"></ion-icon>
                        Editar
                      </button>
                      <button ion-button color="danger" (click)="excluir(5)"> 
                        <ion-icon name="trash"></ion-icon>
                        Excluir
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
      </ion-list>
</ion-content>
